body {
    background-image: url('../public/fondo.jpg');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: scroll; /* se mueve con el scroll */
    min-height: 100vh; /* permite crecer verticalmente */
    margin: 0;                  
  }

.tabla-info {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  table-layout: fixed;   /* 👈 MUY IMPORTANTE: evita desorden */
}

.tabla-info td {
  padding: 6px 10px;
  vertical-align: top;
  font-size: 14px;
  word-break: break-word;
}

.label {
  font-weight: bold;
  width: 150px;        /* ancho fijo garantiza alineación */
  white-space: nowrap; /* evita salto de línea en etiquetas */
}

.value {
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 250px;    /* controla valores largos */
}

/* ESTILOS IMPRESION */
@media print {
  .print-only {
    display: flex !important;
  }
  .print-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 12px;
    color: #000;
    display: flex;
    justify-content: space-between;
  }
}