body {
    background-image: url('../public/fondo.jpg');
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat;
    background-attachment: scroll; /* se mueve con el scroll */
    min-height: 100vh; /* permite crecer verticalmente */
    margin: 0;                  
  }

/* ESTILOS IMPRESION */
@media print {
  .print-only {
    display: flex !important;
  }
  .print-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 8px;
    color: #000;
    display: flex;
    justify-content: space-between;
  }
  body {
    font-size: 10px;
  }
  .container {
    margin: 0 !important;
    width: 100% !important;
    max-width: none !important;
  }
}